@charset "utf-8";
@import "~@/styles/variable.scss";

.#{$prefix}-toolbar {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;

  &-item-icon {
    margin: 0 8px;
    font-size: 16px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.#{$prefix}-custom-toolbar {
  //
}

.#{$prefix}-default-option {
  //
}
