@charset "utf-8";
@import '~@/styles/variable.scss';

.#{$prefix}-basicLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;

  &-content {
    position: relative;
    margin: 20px;
  }
}
